h1 {
  font-family: 'Sanchez', serif;
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 120%;
}

p {
  font-family: 'Assistant', sans-serif;
}
